<!-- START: FOOTER -->
<div id="footer">
	<!-- START: FOOTER-LEFT -->
	<div id="footer-left">&copy;&nbsp;Munster, Inc.</a>&nbsp;2015. All rights reserved.</div>
	<!-- END: FOOTER-LEFT -->
	<!-- START: FOOTER-RIGHT -->
	<div id="footer-right"><img src="templates/images/icon.png" alt="" /><span>&nbsp;Powered by&nbsp;<a href="http://www.munster.com.my" target="_blank">Munster, Inc.</a></span></div>
	<!-- END: FOOTER-RIGHT -->
	<div class="clear">&nbsp;</div>
</div>
<!-- END: FOOTER -->
</script>
</body>
</html>