<{include file="header.html"}>
<script type="text/javascript" src="scripts/game.js"></script>
<script type="text/javascript">Game = new game();</script>
<!-- START: CONTENT-OUTER -->
<div id="loading"><img id="loading-image" src="templates/images/shared/loading.gif" alt="Loading..." /></div>
<div id="content-outer">
	<!-- START: CONTENT -->
	<div id="content">
		<div id="page-heading"><h1>2048 GAME</h1></div>
		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
			<tr>
				<th rowspan="3" class="sized"><img src="templates/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
				<th class="topleft"></th>
				<td id="tbl-border-top">&nbsp;</td>
				<th class="topright"></th>
				<th rowspan="3" class="sized"><img src="templates/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
			</tr>
			<tr>
				<td id="tbl-border-left"></td>
				<td>
					<!-- START: CONTENT-TABLE-INNER -->
					<div id="content-table-inner">
						<table border="0" width="100%" cellpadding="0" cellspacing="0">
							<tr valign="top">
								<td>
									<!-- START: TABLE-CONTENT  -->
									<div id="table-content">
										<table border="0" width="60%" cellpadding="0" cellspacing="0" class="listing-table">
											<tr><th colspan="4">LEADERBOARD</th></tr>
											<tr>
												<th width="10%">RANK</th>
												<th width="60%">EMAIL</th>
												<th width="15%">TOTAL GAMES</th>
												<th width="15%">TOTAL SCORE</th>
											</tr>
											<{section loop=$arrResults name="thisrsa"}>
												<tr>
													<td>#<{$arrResults[thisrsa].rank}></td>
													<td><{$arrResults[thisrsa].email}></td>
													<td><{$arrResults[thisrsa].games}></td>
													<td><{$arrResults[thisrsa].points}></td>
												</tr>
											<{sectionelse}>
												<tr><td colspan="4">No result found!</td></tr>
											<{/section}>
										</table>
										<table border="0" width="60%" cellpadding="0" cellspacing="0" class="form-table">
											<tr>
												<th>Grid size:</th>
												<td>
													<SELECT id="rows">
														<OPTION value="4">4</OPTION>
														<OPTION value="5">5</OPTION>
														<OPTION value="6">6</OPTION>
													</SELECT>
													<SELECT id="columns">
														<OPTION value="4">4</OPTION>
														<OPTION value="5">5</OPTION>
														<OPTION value="6">6</OPTION>
													</SELECT>
												</td>
											</tr>
											<tr>
												<th>Starting blocks:</th>
												<td>
													<SELECT id="starting_blocks">
														<OPTION value="2">2 blocks</OPTION>
														<OPTION value="3">3 blocks</OPTION>
														<OPTION value="4">4 blocks</OPTION>
													</SELECT>												
												</td>
											</tr>
											<tr>
												<th>Add-on blocks:</th>
												<td>
													<SELECT id="addon_blocks">
														<OPTION value="1">1 block</OPTION>
														<OPTION value="2">2 blocks</OPTION>
														<OPTION value="3">3 blocks</OPTION>
													</SELECT>												
												</td>
											</tr>
											<tr>
												<th>Victory condition:</th>
												<td>
													<SELECT id="end_state">
														<OPTION value="2048">2048</OPTION>
														<OPTION value="4096">4096</OPTION>
														<OPTION value="8192">8192</OPTION>
														<OPTION value="16384">16384</OPTION>
														<OPTION value="32768">32768</OPTION>
														<OPTION value="65536">65536</OPTION>
														<OPTION value="131072">131072</OPTION>
													</SELECT>												
												</td>
											</tr>
											<tr><td width="30%"></td><td></td></tr>
											<tr><td colspan="2"><input type="button" value="NEW GAME" class="button" ONCLICK="Game.newGame(<{$member_id}>);" /></td></tr>
										</table>
									</div>
									<div id="table-content">
										<table border="0" width="100%" cellpadding="0" cellspacing="0" class="game-control" id="game-control">
											<tr>
												<th colspan="3">YOUR SCORE: <span id="score">0</span></th>
											</tr>
											<tr>
												<td></td>
												<td><input type="button" id="button_top" value="&#65514;" class="game-button vertical" ONCLICK="Game.newGame.navigateBlock(1);" /></td>
												<td></td>
											</tr>
											<tr>
												<td><input type="button" id="button_right" value="&#65513;" class="game-button horizontal" ONCLICK="Game.newGame.navigateBlock(4);" /></td>
												<td id="game-grid"></td>
												<td><input type="button" id="button_bottom" value="&#65515;" class="game-button horizontal" ONCLICK="Game.newGame.navigateBlock(2);" /></td>
											</tr>
											<tr>
												<td></td>
												<td><input type="button" id="button_left" value="&#65516;" class="game-button vertical" ONCLICK="Game.newGame.navigateBlock(3);" /></td>
												<td></td>
											</tr>
										</table>
									</div>
									<!-- END: TABLE-CONTENT  -->
									<div class="cleargap10"></div>
									<div class="clear"></div>
								</td>
								<td>
							</tr>
							<tr>
								<td><img src="templates/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
								<td></td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
					<!-- END: CONTENT-TABLE-INNER -->
				</td>
				<td id="tbl-border-right"></td>
			</tr>
			<tr>
				<th class="sized bottomleft"></th>
				<td id="tbl-border-bottom">&nbsp;</td>
				<th class="sized bottomright"></th>
			</tr>
		</table>
		<div class="clear">&nbsp;</div>
	</div>
	<!-- END: CONTENT -->
	<div class="clear">&nbsp;</div>
</div>
<!-- END: CONTENT-OUTER -->
<div class="clear">&nbsp;</div>
<{include file="footer.html"}>