<{include file="header.html"}>
<!-- START: CONTENT-OUTER -->
<div id="content-outer">
	<!-- START: CONTENT -->
	<div id="content">
		<div id="page-heading"><h1>Dashboard</h1></div>
		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
			<tr>
				<th rowspan="3" class="sized"><img src="templates/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
				<th class="topleft"></th>
				<td id="tbl-border-top">&nbsp;</td>
				<th class="topright"></th>
				<th rowspan="3" class="sized"><img src="templates/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
			</tr>
			<tr>
				<td id="tbl-border-left"></td>
				<td>
					<!-- START: CONTENT-TABLE-INNER -->
					<div id="content-table-inner">
						<table border="0" width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<!-- START: TABLE-CONTENT -->
									<div id="table-content">
										<p>Welcome, <{$email}>!</p>
									</div>
									<!-- END: TABLE-CONTENT -->
									<div class="clear"></div>
								</td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
					<!-- END: CONTENT-TABLE-INNER -->
				</td>
				<td id="tbl-border-right"></td>
			</tr>
			<tr>
				<th class="sized bottomleft"></th>
				<td id="tbl-border-bottom">&nbsp;</td>
				<th class="sized bottomright"></th>
			</tr>
		</table>
		<div class="clear">&nbsp;</div>
	</div>
	<!-- END: CONTENT -->
	<div class="clear">&nbsp;</div>
</div>
<!-- END: CONTENT-OUTER -->
<div class="clear">&nbsp;</div>
<{include file="templates/footer.html"}>   