<!-- START: NAV -->
<div class="nav">
	<div class="table">
		<ul<{$Navigation->checkNavigation(1, "main.php")}>><li><a href="main.php"><b>DASHBOARD</b></a></li></ul>
		<div class="nav-divider">&nbsp;</div>
		<ul<{$Navigation->checkNavigation(1, "bookmark.php")}>><li><a href="bookmark.php"><b>MY BOOKMARKS</b></a></li></ul>
		<div class="nav-divider">&nbsp;</div>
		<ul<{$Navigation->checkNavigation(1, "game-2048.php")}>><li><a href="game-2048.php"><b>2048 GAME</b></a></li></ul>
		<div class="nav-divider">&nbsp;</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<!-- END: NAV -->