/* GENERAL */
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
 	background: #FFFFFF;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
table { }
.fr {
	float: right;
}
a {
	outline: none;
	text-decoration: none;
}
a:hover {
}
.clear {
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
img {
	border: 0;
}
p {
	margin: 0px;
	padding: 0px;
}
form {
	margin: 0;
	padding: 0;
}
#page-top-outer {
	height: 80px;
}
#page-top {
	margin: 0 auto;
	width: 100%;
	position: relative;
}
#logo {
	float: left;
	margin: 30px 0 10px 15px;
}
#logo img {
	width:80%;
}
#logo a {
	display: block;
}
#logo span {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
}

/* LOGIN FORM */

#login-bg {
	/*background: url(../images/login/login_bg.jpg) no-repeat top center;*/
}
#login-holder {
	margin: 0px auto 0 auto;
	width: 420px;
}
#logo-login {
	float: left;
	height: auto;
	margin: 150px 0 0 0;
}
#logo-login	img {
	width: 420px;
	height:auto;
}
#loginbox {
	background: #043D63 url(../images/login/loginbox_bg.png) repeat-x;
	font-size: 12px;
	height: 237px;
	line-height: 12px;
	padding-top: 10px;
	position: relative;
	width: 420px;
	border-top: #1181C0 1px solid;
	border-bottom: #011933 1px solid;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	-moz-box-shadow: 0px 1px 18px rgba(0,0,0,.8);
	-webkit-box-shadow: 0px 1px 18px rgba(0,0,0,.8);
	box-shadow: 0px 1px 18px rgba(0,0,0,.8);
}
#loginbox-text {
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 13px;
	letter-spacing:1px;
	line-height: 18px;
	margin: 0px auto 10px auto;
	width: 350px;
	text-shadow: rgba(0,0,0,.2) 0 -1px 0;
}
#loginbox-text .error-message {
	font-weight: bold;
	color: #FF0000;
	height: auto;
}
#login-inner {
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 370px;
}
#login-inner label {
	color: #FFFFFF;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px; 
}
#login-inner th {
	padding: 0 0 6px 0;
	text-align: left;
	width: 134px;
}
#login-inner td {
	padding: 0 0 6px 0;
}
.login-input {
	background: #333333;
	border-top: #8F9C9C 1px solid;
	border-bottom: #6D6E6E 1px solid;
	border-left:0px solid #d4d4d4 !important;
	border-right:0px solid #606060 !important;
	color: #fff;
	font-size: 16px;
	height: 30px;
	padding: 2px 6px 0 10px;
	width: 204px;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px;
	-moz-box-shadow:inset 0px 8px 30px rgba(0,0,0,.8);
	-webkit-box-shadow:inset 0px 8px 30px rgba(0,0,0,.8);
	box-shadow:inset 0px 8px 30px rgba(0,0,0,.8);
}
.login-checkbox {
	width: 13px;
	height: 13px;
	margin: 5px 0;
}
a.forgot-pwd {
	bottom: 40px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 70px;
}
a:hover.forgot-pwd {
	color: #fff;
}
#forgotbox {
	background: #DFD8D8 url(../images/login/loginbox_bg.png) repeat-x;
	display: none;
	font-size: 12px;
	height: 155px;
	line-height: 12px;
	padding-top: 30px;
	position: relative;
	width: 420px;
	border-top: #ffe0a3 1px solid;
	border-bottom: #7c5301 1px solid;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	-moz-box-shadow: 0px 1px 30px rgba(0,0,0,.8);
	-webkit-box-shadow: 0px 1px 30px rgba(0,0,0,.8);
	box-shadow: 0px 1px 30px rgba(0,0,0,.8);
}
#forgotbox-text {
	color: #fff;
	font-family: Tahoma;
	font-size: 13px;
	letter-spacing:1px;
	line-height: 18px;
	margin: 0px auto 20px auto;
	width: 330px;
	text-shadow: rgba(0,0,0,.2) 0 -1px 0;
}
#forgot-inner {
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
}
#forgot-inner label {
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
}
#forgot-inner th {
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
}
#forgot-inner td {
	padding: 0 0 6px 0;
}
a.back-login {
	background: url(../images/login/icon_back_login.gif) no-repeat 15px 4px;
	bottom: 38px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
	position: absolute;
	right: 62px;
}
a:hover.back-login {
	color: #fff;
}

/* NAVIGATION */

#nav-holder {
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
}
.nav-outer-repeat {
	background: url(../images/shared/nav/repeat.jpg) repeat-x;
	height: 77px;
}
.nav-outer {
	margin: 0 auto;
	width: 100%;
}
#nav-right {
	float: right;
	position: relative;
	width: 100px;
	z-index: 0;
}
#nav-right a {
	display: block;
	float: left;
	margin: 0px 0 0 0;
}
.account-content {
	background: #008102;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	-moz-box-shadow: 0px 8px 8px rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 8px 8px rgba(0,0,0,.6);
	box-shadow: 0px 8px 8px rgba(0,0,0,.6);
}
.account-drop-inner {
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
}
.showhide-account a {
	background: url(../images/shared/nav/nav_myaccount.png) no-repeat 0px 10px !important;
	left:0px;
	width:75px !important;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	margin: 3px 0 0 5px !important;
	padding: 15px 0 15px 20px;
	-moz-text-shadow: 0px -1px 0px rgba(1,95,0,1);
	-webkit-text-shadow: 0px -1px 0px rgba(1,95,0,1);
	text-shadow: 0px -1px 0px rgba(1,95,0,1);
}
.showhide-account a:hover {
	background: url(../images/shared/nav/nav_myaccount_on.png) no-repeat 0px 10px !important;
	color:#DFD8D8;
}
.showhide-account {
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px 5px 0 5px;
}
.account-drop-inner a {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.account-drop-inner a:hover {
	color: #333366;
}
.acc-line {
	background: url(../images/shared/nav/account_line.gif) no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0;
}
.logout-account {
	background: url(../images/shared/nav/nav_logout.png) no-repeat 0 5px;
	left:0px;
	width:150px !important;
	height:30px !important;
	border:1px solid #099;
}
#logout {

}
a#logout {
	background: url(../images/shared/nav/nav_logout.png) no-repeat 0px 6px;
	left:0px;
	width:40px !important;
	font-size:12px;
	font-weight:bold;
	font-family: Tahoma;
	color:#FFF;
	margin: 8px 0 0 5px;
	padding: 3px 0 10px 20px;
	-moz-text-shadow: 0px -1px 0px rgba(1,95,0,1);
	-webkit-text-shadow: 0px -1px 0px rgba(1,95,0,1);
	text-shadow: 0px -1px 0px rgba(1,95,0,1);
}
a:hover#logout {
	background: url(../images/shared/nav/nav_logout_on.png) no-repeat 0px 6px;
	color:#DFD8D8;
}
a#acc-settings {
	background: url(../images/shared/nav/icon_acc_settings.png) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-details {
	background: url(../images/shared/nav/icon_acc_personal.png) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-project {
	background: url(../images/shared/nav/icon_acc_personal.png) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-inbox {
	background: url(../images/shared/nav/icon_acc_inbox.png) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-stats {
	background: url(../images/shared/nav/icon_acc_stats.png) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
.nav {
	float: left;
	font-family: Tahoma;
	font-size: 13px;
	height: 38px;
	position: relative;
	width: 1000px;
	min-width: 600px;
	z-index: 500;
}
.nav-divider {
	background: url(../images/shared/nav/divider.jpg) top no-repeat;
	float: left;
	height: 40px;
	width: 15px;
}
.nav .table {
	display: table;
}
.nav .select,
.nav .current {
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
}
.nav li {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
}
.nav .select a {
	color: #FFFFFF;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 20px 0 20px;
	text-decoration: none;
	white-space: nowrap;
	-moz-text-shadow: 0px -1px 0px rgba(1,95,0,1);
	-webkit-text-shadow: 0px -1px 0px rgba(1,95,0,1);
	text-shadow: 0px -1px 0px rgba(1,95,0,1);
}
.nav .current a {
	background: url(../images/shared/nav/pro_line.jpg);
	color: #FFFFFF;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 0 0 10px;
	text-decoration: none;
	white-space: nowrap;
}
.nav .current a b {
	background: url(../images/shared/nav/pro_line.jpg) right top;
	display: block;
	padding: 0 20px 0 10px;
	color: #DFD8D8;
	-moz-text-shadow: 0px 2px 5px rgba(0,0,0,1);
	-webkit-text-shadow: 0px 2px 5px rgba(0,0,0,1);
	text-shadow: 0px 2px 5px rgba(0,0,0,1);
}
.nav .select a:hover, 
.nav .select li:hover a {
	background: url(../images/shared/nav/pro_line.jpg);
	color: #FFFFFF;
	cursor: pointer;
	padding: 0 0 0 10px;
}
.nav .select a:hover b, 
.nav .select li:hover a b {
	background: url(../images/shared/nav/pro_line.jpg) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 20px 0 10px;
	color: #DFD8D8;
	-moz-text-shadow: 0px 2px 5px rgba(0,0,0,1);
	-webkit-text-shadow: 0px 2px 5px rgba(0,0,0,1);
	text-shadow: 0px 2px 5px rgba(0,0,0,1);
}
.nav .select_sub {
	display: none;
	margin: 0 0 0 10px;
}

/* IE6 only */
.nav table {
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
}
.nav .sub {
	display: table;
	list-style: none;
	width:100%; /* Add by SHAH on 26-05-2014 */
	background: url(../images/shared/nav/repeat-sub.jpg) repeat-x top;	/* Add by SHAH on 26-05-2014 */
	/* margin: 0 auto; */
	padding: 0;
}
.nav .sub_active .current_sub a, 
.nav .sub_active a:hover {
	background: transparent;
	color: #FFFFFF;
}
.nav .select :hover .select_sub, 
.nav .current .show {
	margin: 1px 0 0 0;
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 35px;
	width: 100%;
	z-index: 100;
}
.nav .current .show {
	z-index: 10;
}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a {
	background: transparent;
	border: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	white-space: nowrap;
}
.nav .current .sub li.sub_show a {
	color: #DFD8D8;
	cursor: default;
}
.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover {
	color: #DFD8D8;
	visibility: visible;
}

/* CONTENT */

#content-outer {
	background: url(../images/shared/content_repeat.jpg) repeat-x;
}
#content {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	width: 100%;
	padding: 35px 0px 30px 0px;
}
#content-inner {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
}
#content-table {
	font-size: 0px;
	line-height: 0px;
}
#content-table th.sized {
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
}
#content-table-inner {
	font-size: 12px;
	line-height: 12px;
	padding: 0 0 20px 0;
}
#tbl-border-top {
	background: url(../images/shared/border_bit.jpg) top repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
}
#tbl-border-bottom {
	background: url(../images/shared/border_bit.jpg) bottom repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
}
#tbl-border-left {
	background: url(../images/shared/border_bit.jpg) left repeat-y;
}
#tbl-border-right {
	background: url(../images/shared/border_bit.jpg) right repeat-y;
}
#table-content {
	margin: 0 10px 10px 10px;
	min-height: 300px;
}
#table-content iframe {
	width: 100%;
	height: 1024px;
	display: block;
	border: none;
	overflow: hidden;
}
.topleft {
	background: url(../images/shared/corner_top_left.jpg) no-repeat;
	width:15px;
	height:15px;	
}	
.topright {
	background: url(../images/shared/corner_top_right.jpg) no-repeat;
	width:15px;
	height:15px;
}	
.bottomleft {
	background: url(../images/shared/corner_bottom_left.jpg) no-repeat;
	width:15px;
	height:15px;
}	
.bottomright {
	background: url(../images/shared/corner_bottom_right.jpg) no-repeat;
	width:15px;
	height:15px;
}

/* HEADINGS */

#page-heading {
	margin: 0 0 15px 20px;
}
h1 {
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
}
h2 {
	color: #393939;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}
h3 {
	color: #333366;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
}
		
/* MESSAGES */

#message-yellow {
	margin-bottom: 5px;
}
.yellow-left {
	background: url(../images/table/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.yellow-left a {
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.yellow-right a {
	cursor: pointer;
}
.yellow-right {
	width: 55px;
}
#message-blue {
	margin-bottom: 5px;
}
.blue-left {
	background: url(../images/table/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.blue-left a {
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.blue-right a {
	cursor: pointer;
}
.blue-right {
	width: 55px;
}
#message-red {
	margin-bottom: 5px;
}
.red-left {
	background: url(../images/table/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.red-left a {
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.red-right a {
	cursor: pointer;
}
.red-right {
	width: 55px;
}
#message-green {
	margin-bottom: 5px;
}
.green-left {
	background: url(../images/table/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
}
.green-left a {
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.green-right a {
	cursor: pointer;
}
.green-right {
	width: 55px;
}

/* ICONS */

a.icon-1 {
	background: url(../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 5px 0 0;
	width: 24px;
}
a:hover.icon-1 {
	background: url(../images/table/table_icon_1.gif) 0 -24px;
}
a.icon-2 {
	background: url(../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-2 {
	background: url(../images/table/table_icon_2.gif) 0 -24px;
}
a.icon-3 {
	background: url(../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-3 {
	background: url(../images/table/table_icon_3.gif) 0 -24px;
}
a.icon-4 {
	background: url(../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-4 {
	background: url(../images/table/table_icon_4.gif) 0 -24px;
}
a.icon-5 {
	background: url(../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
a:hover.icon-5 {
	background: url(../images/table/table_icon_5.gif) 0 -24px;
}
a.icon-6 {
	background: url(../images/table/table_icon_6.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-6 {
	background: url(../images/table/table_icon_6.gif) 0 -24px;
}
a.icon-7 {
	background: url(../images/table/table_icon_7.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-7 {
	background: url(../images/table/table_icon_7.gif) 0 -24px;
}
a.vertical {
	margin-bottom: 2px;
}

/* FORM TABS */

.form-tab td {
	color: #888888;
	position: relative;
	top: 1px;
	float: left;
	padding: 8px 15px;
	margin: 0px 1px 0px 0px;
	font-size: 13px;
	background: #DDDDDD url(../images/login/btn_gradient.png) repeat-x top;
	list-style: none;
	border-left: solid 1px #CCCCCC;
	border-bottom: solid 0px #999999;
	border-top: solid 0px #999999;
	border-right: solid 1px #999999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	-moz-box-shadow: inset 0px -2px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px -2px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px -2px 4px rgba(0,0,0,.2);
}
.form-tab td.selected {
	color: #333333;
	position: relative;
	top: 1px;
	float: left;
	padding: 8px 15px;
	margin: 0px 1px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	background: #EEEEEE url(../images/login/btn_gradient.png) repeat-x top;
	list-style: none;
	border-left: solid 1px #CCCCCC;
	border-bottom: solid 0px #999999;
	border-top: solid 0px #999999;
	border-right: solid 1px #999999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	-moz-box-shadow: inset 0px 5px 4px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0px 5px 4px rgba(0,0,0,.1);
	box-shadow: inset 0px 5px 4px rgba(0,0,0,.1);
}

.form-tab td a {
	color: #333333;
	text-decoration: none;
}

/* MAP */
.map {
	border: 1px solid;
	width: 80%;
	height: 500px;	
}

/* FORM */

.form-table {
	margin: 0 0 10px 0;
	padding: 10px;
	clear: both;
	border: solid 1px #CCCCCC;
	background-color: #EEEEEE;
}
.form-table th {
	padding: 5px;
	text-align: left;
}
.form-table td {
	padding: 5px;
	text-align: left;
}
.form-table td.noheight {
	padding: 0 0 0px 0;
}
.form-table td input {
	float: left;
	padding: 2px;
	margin-right: 5px;
	font-size: 12px;
}
.form-table td select {
	float: left;
	padding: 2px;
	margin-right: 5px;
	font-size: 12px;
}
.form-table td textarea {
	float: left;
	padding: 2px;
	margin-right: 5px;
	font-size: 12px;
	resize: none;
}
.form-table td .textbox {
	background: #D8D8D8;
	color: #000000;
	border: 1px solid;
	width: 590px;
	height: 150px;
	float: left;
	padding: 5px;
	margin-right: 5px;
	font-family: Tahoma;
	font-size: 15px;
	font-weight: bold;
}
.form-table .button {
	background: #3D3935 url(../images/login/btn_gradient.png) repeat-x top;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.4);
	font-family: Tahoma;
	font-size: 13px;
	padding: 5px 10px;
}
.form-table .disabled {
	background-color: #C0C0C0;
}
.form-table .mandatory {
	color: #D63921;
	float: left;
	margin-right: 5px;
}
.form-table .error-left {
	background: url(../images/forms/error_left.gif) no-repeat;
	float: left;
	width: 5px;
	height: 10px;
	margin-top: 5px;
}
.form-table .error-inner {
	font-size: 11px;
	color: #FFFFFF;
	background: #D63921;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px;
	float: left;
	padding: 4px;
}

/* LISTING TABLE */	

.listing-table {
	margin: 10px 0;
}
.listing-table th {
	background: #03185A;
	color: #FFFFFF;
	border: 1px solid #D2D2D2;
	padding: 5px;
	text-align: left;
}
.listing-table th a {
	color: #FFFFFF;
}
.listing-table td {
	background: #FFFFFF;
	border: 1px solid #D2D2D2;
	padding: 5px;
}

/* GRAPH TABLE */
.graph-table {
	margin: 10px 0;
	padding: 5px;
	border: 1px solid #000000;
}
.graph-table img {
	width: 1000px;
}

/* PAGING */

.paging {
	float: left;
	width: 100%;
}	
.page-far-left {
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
}
.page-left {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
.page-far-right {
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
}
.page-right {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
.page-info {
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
}

/* FOOTER */

.footer_index {
	text-align:center;
	color: #FFFFFF; 
	font-size: 10px;
	line-height: 11px;
	padding: 10px 0 10px 10px;
	margin-top: 12px;	
	background:#3A3A3A;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: Tahoma;
}
.footer_index img {
	width: 10px;
}
.footer_index a {
	color: #00ADEF; 
}
.footer_index a:hover {
	color: #FFFFFF; 
}
#footer {
	background: url(../images/shared/nav/footer_bg.gif) repeat-x scroll 0 0 transparent;
	height: 40px;	 
	margin: 20px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	color: #FFFFFF; 
	font-size: 11px;
	line-height: 11px;
	width: 100%;
}
#footer a {
	color: #00ADEF;
	text-decoration: none;
}
#footer a.selected,
#footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#footer-left {
	float: left;	
	padding: 15px 0 15px 0px;
	margin: 0 20px;
}
#footer-right {
	float: right;
	padding: 15px 0 15px 0px;
	margin: 0 20px;
}
#footer-right img {
	float: left;
	width: 12px;
}
#footer-right span {
	float: left;
}

/* BUTTONS */

.button {
	color: white;
	text-align:center;
	border-top: #8F8F8F 1px solid;
	border-bottom: #001A13 1px solid;
	border-left: none;
	border-right: none;
	background: #3D3935 url(../images/login/btn_gradient.png) repeat-x top;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.4);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.4);
	box-shadow: 0px 1px 1px rgba(0,0,0,.4);
	cursor: pointer;
	font-family: Tahoma;
	font-size: 13px;
	padding: 5px 10px;
}
.button:hover {
	background: #3D3935;
	color:#FFFFFF;
	border-top: #585858 1px solid;
	border-bottom: #1c1c1c 1px solid;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* LIGHTBOX */
.lightbox-content {
	display: none;
	position: fixed;
	top: 15%;
	left: 35%;
	width: 400px;
	min-height: 400px;
	padding: 2px;
	border: 5px solid #3D3935;
	background-color: white;
	z-index: 1002;
	overflow: hidden;
	
}
.lightbox-background {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1001;
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity=60);
}
.lightbox-content table th .close {
	float: right;
	margin: 0;
}
.lightbox-content table td {
	padding: 5px;
	font-size: 12px;
}
.lightbox-content table td .filters {
	height: 300px;
	overflow-y: auto;
}
.lightbox-content table td .filters table td {
	vertical-align: top;
}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  opacity: 0.7;
  background-color: #fff;
  z-index: 1003;
  text-align: center;
}
#loading-image {
  position: absolute;
  top: 315px;
  left: 620px;
  z-index: 1004;
}

/* POPUP BOX */
.popbox {
	display: none;
	position: absolute;
	z-index: 99999;
	width: 300px;
	padding: 10px;
	background: #EEEEEE;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #4D4F53;
	margin: 0px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
	box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
.popbox h2 {
	background-color: #03185A;
	color:  #FFFFFF;
	font-size: 14px;
	display: block;
	width: 100%;
	margin: -10px 0px 8px -10px;
	padding: 5px 10px;
}